<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a href="index.html">Home</a> » <a href="#">Account</a> » <a
            href="register.html">Register</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Register Account</h1>
    <form [formGroup]="form" (ngSubmit)="register()">
        <h2>Détails personnelles</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <div class="form-group">
                            <td><span class="required">*</span> Nom:</td>
                            <td><input class="large-field" type="text" class="form-control" formControlName="nom">
                            <span *ngIf="!form.controls['nom'].valid && form.controls['nom']?.touched" class="error">Le nom est requis</span></td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><span class="required">*</span> Prénom:</td>
                            <td><input class="large-field" type="text" class="form-control" formControlName="prenom">
                                <span *ngIf="!form.controls['prenom'].valid && form.controls['prenom']?.touched" class="error">Le prénom est requis</span></td>

                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><span class="required">*</span> E-Mail:</td>
                            <td><input class="large-field" type="text" class="form-control" formControlName="email">
                                <span *ngIf="!form.controls['email'].valid && form.controls['email']?.touched" class="error">Vérifier l'email saisi</span></td>

                        </div>
                    </tr>

                </tbody>
            </table>
        </div>

        <h2>Mot de passe</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <div class="form-group">
                            <td><span class="required">*</span> Mot de passe:</td>
                            <td><input class="large-field" type="password" class="form-control"
                                    formControlName="password">                         
                                       <span *ngIf="!form.controls['password'].valid && form.controls['password']?.touched" class="error">vérifier le mot de passe</span></td>

                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><span class="required">*</span> Confirmer le mot de passe:</td>
                            <td><input class="large-field" type="password" class="form-control"
                                    formControlName="passwordConfirm">
                                    <span *ngIf="!form.controls['passwordConfirm'].valid && form.controls['passwordConfirm']?.touched" class="error">vérifier le mot de passe</span></td>

                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Newsletter</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td>Subscribe:</td>
                        <td><input type="radio" value="1" name="newsletter">
                            Yes
                            <input type="radio" checked="checked" value="0" name="newsletter">
                            No </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <div class="left">
                <p>
                    <input type="checkbox" value="1" name="agree">
                    &nbsp; I have read and agree to the <a alt="Privacy Policy" href="#"
                        class="colorbox cboxElement"><b>Privacy Policy</b></a> </p>
                <input [disabled]="form.invalid" type="submit" class="button" value="Continue">
            </div>
        </div>
    </form>
</div>
<!--Middle Part End-->
<div class="clear"></div>