<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a href="index.html">Home</a> » <a href="#">Account</a> » <a href="login.html">Login</a>
    </div>
    <!--Breadcrumb Part End-->
    <h1>Account Login</h1>
    <div class="login-content">
        <div class="left">
            <h2>New Customer</h2>
            <div class="content">
                <p><b>Register Account</b></p>
                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep
                    track of the orders you have previously made.</p>
                <a class="button" [routerLink]="'/auth/register'">Continue</a>
            </div>
        </div>
        <div class="right">
            <h2>Returning Customer</h2>
            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="content">
                    <table class="form">
                        <tbody>

                            <tr>
                                <div class="form-group">
                                    <td><span class="required">*</span> E-Mail:</td>
                                    <td><input class="large-field" type="text" class="form-control"
                                            formControlName="email">
                                    </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><span class="required">*</span> Mot de passe:</td>
                                    <td><input class="large-field" type="text" class="form-control"
                                            formControlName="password">
                                    </td>
                                </div>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="buttons">
                    <div class="left">
                        <input type="submit" class="button" value="Login" >

                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
<!--Middle Part End-->
<div class="clear"></div>